.container-footer {
    background-color: aquamarine;
    border-radius: 15px 15px 0 0;
    padding: 50px;
    margin-top: 140px;
   


}































.container-footer p {
    text-align: center;
    color : grey;
}